.container {
  width: 100%;
  height: 840px;
  background-image: url('../../assets/images/fullOcena.jpg');
}

.centraliza {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}